<div class="hero-unit">
<h1>Edit book:</h1>

<%= form_for(@book) do |f| %>

<%= render "form",f: f %>

<div class="buttons_down">
	<%= link_to("Back", books_path, :class => 'btn btn-warning')%>
	<%= submit_tag("Update", :class => 'btn  btn-primary') %>
</div>

<% end %>
</div>
