<div class="hero-unit">
<h1>New Book</h1>

<%= form_for(:book, :url => {:action => 'create', :user_id => current_user.id}) do |f| %>

<%= render(:partial => "form", :locals => {:f => f}) %>

<div style="text-align: center;">
	<%= link_to("Back", {:action => 'index'}, :class => 'btn btn-warning')%>
	<%= submit_tag("Create", :class => 'btn  btn-primary') %>
</div>

<% end %>
</div>
