/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.td-width-small{
  max-width: 3em;
}
.img-big {
  width: 25%;
}
.td-title {
  background-color: lightseagreen;
}
.h-position-center{
  text-align: center;
  background-color: lightseagreen;
  margin-bottom: 0;
  margin-top: 0.2em;
}
.td-position-center{
  text-align: center;
  background-color: lightgray;
}
.menu {
  margin-left: 0;
  margin-right: 0m;
  width: auto;
  text-align: center;
  background-color: gray;
  padding: 0.5em;
}
.user_nick {
  color: white!important;
  font-weight: bold;
}
.alert {
  margin-top: 1em;
}
.main_page {
  background-image: url("books-2463779_640.jpg");
  position: absolute;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
.jumbotron {
  margin-top: 5%;
  text-align: center;
}
.buttons_down {
  text-align: center;
}
.counter {
  text-align: right;
}
.featurette-image {
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
  float: : center;
}
.rate_score {
  margin-left: auto;
  margin-right: auto;
  max-width: 61px;
}
.th_center {
  text-align: center!important;
}