<div class="hero-unit">
<h1>Edit category:</h1>

<%= form_for(:category, :url => {:action => 'update', :id => @category.id}) do |f| %>

<%= render(:partial => "form", :locals => {:f => f}) %>

<div class="buttons_down">
	<%= link_to("Back", {:action => 'index'}, :class => 'btn btn-warning')%>
	<%= submit_tag("Update", :class => 'btn  btn-primary') %>
</div>

<% end %>
</div>
