<div class="hero-unit">
<h1>New Category</h1>

<%= form_for(@category) do |f| %>

<%= render "form",f: f %>

<div class="buttons_down">
	<%= link_to("Back", categories_path, :class => 'btn btn-warning')%>
	<%= submit_tag("Create", :class => 'btn  btn-primary') %>
</div>

<% end %>
</div>
