<div class="hero-unit">
<h1>New Category</h1>

<%= form_for(:category, :url => {:action => 'create'}) do |f| %>

<%= render(:partial => "form", :locals => {:f => f}) %>

<div class="buttons_down">
	<%= link_to("Back", {:action => 'index'}, :class => 'btn btn-warning')%>
	<%= submit_tag("Create", :class => 'btn  btn-primary') %>
</div>

<% end %>
</div>
